@model QEMS.Models.Situation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div class="form-horizontal">
    <h4>Situation</h4>
    <hr />
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Motor Vehicle Theft" />
        <input type="hidden" name="Severity" id="Severity" value="1" />
        <input type="submit" class="btn btn-default" value="Motor Vehicle Theft" />
    }
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Burglary" />
        <input type="hidden" name="Severity" id="Severity" value="3" />
        <input type="submit" class="btn btn-default" value="Burglary" />
    }
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Larceny / Theft" />
        <input type="hidden" name="Severity" id="Severity" value="2" />
        <input type="submit" class="btn btn-default" value="Larceny / Theft" />
    }
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Car Accident" />
        <input type="hidden" name="Severity" id="Severity" value="3" />
        <input type="submit" class="btn btn-default" value="Car Accident" />
    }
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Aggravated Assault" />
        <input type="hidden" name="Severity" id="Severity" value="5" />
        <input type="submit" class="btn btn-default" value="Aggravated Assault" />
    }
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Robbery" />
        <input type="hidden" name="Severity" id="Severity" value="4" />
        <input type="submit" class="btn btn-default" value="Robbery" />
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Severity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Severity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Severity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
