@model QEMS.Models.Situation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@if (User.IsInRole("Person") == true)
{
    <p style="color:black; font-size:15px">You are able to text an emergency situation by texting this number (209)931-7370. In the text also add a number from 1 through 5 for the severity of the situation, 1 being least and 5 being greatest.</p>
}

<div class="form-horizontal">
    <h4>Situation</h4>
    <hr />
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Motor Vehicle Theft" />
        <input type="hidden" name="Severity" id="Severity" value="1" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Motor Vehicle Theft" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Motor Vehicle Theft" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Burglary" />
        <input type="hidden" name="Severity" id="Severity" value="3" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Burglary" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Burglary" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Larceny / Theft" />
        <input type="hidden" name="Severity" id="Severity" value="2" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Larceny / Theft" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Larceny / Theft" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Car Accident" />
        <input type="hidden" name="Severity" id="Severity" value="3" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Car Accident" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Car Accident" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Aggravated Assault" />
        <input type="hidden" name="Severity" id="Severity" value="5" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Aggravated Assault" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Aggravated Assault" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm("Create", "Situations"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Message" id="Message" value="Robbery" />
        <input type="hidden" name="Severity" id="Severity" value="4" />
<<<<<<< HEAD
        <input type="submit" class="btn btn-default" value="Robbery" style="border:1px solid black; color: white; background-color:royalblue" />
    }
    <hr />
=======
        <input type="submit" class="btn btn-default" value="Robbery" style="border:1px solid white" />
    }
    <hr>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2", style = "color:black" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Severity, htmlAttributes: new { @class = "control-label col-md-2", style = "color:black" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Severity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Severity, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
<<<<<<< HEAD
                <input type="submit" value="Create" class="btn btn-default" style="border:1px solid black" />
=======
                <input type="submit" value="Create" class="btn btn-default" style="border:1px solid white"/>
>>>>>>> ec8d25e7aeb6e4b9e78426b75cb9a41111210d88
            </div>
        </div>

    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
