@model IEnumerable<QEMS.Models.Situation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallPoliceStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallFireStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallAmbulance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Severity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallPoliceStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallFireStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallAmbulance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InProcess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SituationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SituationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SituationId })
        </td>
    </tr>
}

</table>
