<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Template/css/bootstrap/css")*@
    @Scripts.Render("~/bundles/modernizr")

			
</head>
<body>


    <div class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container" style="height:40px">
            <nav nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height:40px"  >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    
                    <ul class="navbar-nav">
                        <li class="nav-item active navbar-brand font-weight-bolder text-uppercase ">@Html.ActionLink("QEMS", "Index", "Home") </li>

                       

                        @if (User.IsInRole("Admin") == true)
                        {
                            <li class="nav-item navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" Home ", "Index", "Home") </li>
                            <li class="nav-item navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" Situations + Operators ", "OperatorSituationsForAdmin", "Situations") </li>
                            <li class="nav-item navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" People ", "Index", "People") </li>
                            <li class="nav-item navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" Operators ", "Index", "Operators") </li>
                            <li class="nav-item navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" Situations ", "Index", "Situations") </li>
                            <li class="nav-item active navbar-brand navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" List of Kins ", "Index", "Kins") </li>
                        }
                        @if (User.IsInRole("Person") == true)
                        {
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Home ", "Create", "Situations") </li>
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Situations ", "PersonsSituations", "Situations") </li>
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase "> @Html.ActionLink(" Profile ", "Details", "People") </li>
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Kin ", "ListOfKinForThePersonToSee", "Kins") </li>
                        }
                        @if (User.IsInRole("Operator") == true)
                        {
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Situations ", "Index", "Situations") </li>
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Completed Situations ", "CompletedSituations", "Situations") </li>
                            <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Profile", "Details ", "Operators") </li>
                        }
                        <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" About ", "About", "Home") </li>
                        <li class="nav-item active navbar-brand font-weight-bolder text-uppercase"> @Html.ActionLink(" Contact ", "Contact", "Home") </li>
                    </ul>
                    <span class="navbar-right">
                        @Html.Partial("_LoginPartial")
                    </span>

                </div>
            </nav>
        </div>
    </div>
    <hr>
   
    <div class="container body-content" id="myDIV"  style="background-color:darkslategrey">
        <hr>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
