<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Template/css/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header id="header" id="home">
        <div class="container header-top">
            <div class="row">
                @*<div class="col-6 top-head-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>*@
                <div class="col-6 top-head-right">
                    <ul>
                        <li><a href="tel:+1414 213 6131"><span>+1414 213 6131</span> <span class="lnr lnr-phone-handset"></span></a></li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a><img src="img/logo.png" alt="" title="" />@Html.ActionLink("QEMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active">@Html.ActionLink("QEMS", "Index", "Home")</li>
                        @if (User.IsInRole("Admin") == true)
                        {
                            <li>@Html.ActionLink("Situations + Operators", "OperatorSituationsForAdmin", "Situations")</li>
                            <li>@Html.ActionLink("People", "Index", "People")</li>
                            <li>@Html.ActionLink("Operators", "Index", "Operators")</li>
                            <li>@Html.ActionLink("Situations", "Index", "Situations")</li>
                            <li>@Html.ActionLink("List of Kins", "Index", "Kins")</li>
                        }
                        @if (User.IsInRole("Person") == true)
                        {
                            <li>@Html.ActionLink("Home", "Create", "Situations")</li>
                            <li>@Html.ActionLink("Situations", "PersonsSituations", "Situations")</li>
                            <li>@Html.ActionLink("Profile", "Details", "People")</li>
                            <li>@Html.ActionLink("Kin", "ListOfKinForThePersonToSee", "Kins")</li>
                        }
                        @if (User.IsInRole("Operator") == true)
                        {
                            <li>@Html.ActionLink("Situations", "Index", "Situations")</li>
                            <li>@Html.ActionLink("Completed Situations", "CompletedSituations", "Situations")</li>
                            <li>@Html.ActionLink("Profile", "Details", "Operators")</li>
                        }
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
